.about{
    height: auto;
    margin: 1rem;

    width: auto;
    background-color: #dd0025;
    
color: white;
font-family: titillium;

}

.about h1{
    color: white;
font-family: oswald;
font-size: 60pt;

}