.about{
    height: auto;
    margin: 50px;
    padding: 50px;
    width: auto;
    background-color: #dd0025;
    
color: white;
font-family: titillium;
font-size: 16pt;
}

.about h1{
    color: white;
font-family: oswald;
font-size: 60pt;

}