.footer{
    margin-top: 50px;
    display: flex;
    width: 100%;
    background-color: #dd0025;
    text-align: center;
    height: 50px;
    align-items:center;
    justify-content:center;
    font-size: 6pt;
}

@media (min-width: 400px) { 
    .footer{
        font-size: 8pt;
    }
}
@media (min-width: 1000px) { 
    .footer{
        height: 70px;
        font-size: 10pt;
    }
}
@media (min-width: 1700px) { 
    .footer{
        height: 100px;
        font-size: 13pt;
    }
}
p{

    color: white;
    font-family: titillium;
}
a{
    color: #392d2f;
    transition-duration: 0.5s;
}
a:hover{
    color: white;
    font-style: italic;
    text-decoration: underline;
}