a{
    text-decoration: none;
}


.nav-title{
  cursor: pointer;
    font-family: oswald;
    color: white;
    width:15%;
    transition-duration: 0.5s;
    margin:10px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.nav-option{
  display: inline;
  cursor: pointer;
}


.nav-title:hover{
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
    transform: scale(1.05);
}

.nav-sticky{
    position: fixed;
  z-index: 2;
  background: #dd0025;
    
    text-align: center;
  width: 100%;
  top:0;
  font-size: 0.875rem;
}
@media (min-width: 768px) { 
  .nav-sticky{
    font-size: 1.5rem;
  }

}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
