.social-container{
    text-align: center;
}
.join-button{

    font-family: poppins;
    display: block;
    font-size: 30pt;

}

.join-button:hover{

    color: #dd0025;
    text-decoration: none;
    font-style: normal;
   
}
.social-link{
    font-family: poppins;

    display: inline-block;
    padding: 15px;
    padding-top: 0px;
    font-size: 10pt;
}

.social-link:hover{

    color: #dd0025;
    text-decoration: none;
    font-style: normal;
   
}
@media (min-width: 768px) { 
    .join-button{

    display: block;
    font-size: 50pt;

}

.join-button:hover{

    color: #dd0025;
    text-decoration: none;
    font-style: normal;
   
}
.social-link{

    display: inline-block;
    padding: 20px;
    padding-top: 0px;
    font-size: 30pt;
}

.social-link:hover{

    color: #dd0025;
    text-decoration: none;
    font-style: normal;
   
}
}
.email-link{
    text-decoration: underline;
}
.email-link:hover{
    color: #dd0025;
}