.social-container{
    text-align: center;
}
.join-button{
    margin: auto;
    display: block;
    font-size: 30pt;

}

.join-button:hover{
    margin: auto;
    color: #dd0025;
    text-decoration: none;
    font-style: normal;
   
}
.social-link{
    margin: auto;
    display: inline-block;
    padding: 10px;
    padding-top: 0px;
    font-size: 10pt;
}

.social-link:hover{
    margin: auto;
    color: #dd0025;
    text-decoration: none;
    font-style: normal;
   
}
@media (min-width: 768px) { 
    .join-button{
    margin: auto;
    display: block;
    font-size: 70pt;

}

.join-button:hover{
    margin: auto;
    color: #dd0025;
    text-decoration: none;
    font-style: normal;
   
}
.social-link{
    margin: auto;
    display: inline-block;
    padding: 20px;
    padding-top: 0px;
    font-size: 30pt;
}

.social-link:hover{
    margin: auto;
    color: #dd0025;
    text-decoration: none;
    font-style: normal;
   
}
}